@media screen and (min-width:776px) {
    #rightside button{
        margin-right: 8px;
    }
    #rightside > div > button, #rightside > div > a{
        margin-bottom: 5px;
        width: 45px;
        height: 45px;
        border-radius: 22.5px;
        font-size: 22px;
    }
    #rightside #rightside-config-hide{
      transform: translate(55px, 0);
    }
}