#page .tag-cloud-list a:nth-of-type(1) {
    background: rgba(252, 240, 227, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(2) {
    background: rgba(185, 175, 127, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(3) {
    background: rgba(90, 14, 36, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(4) {
    background: rgba(125, 8, 167, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(5) {
    background: rgba(179, 115, 113, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(6) {
    background: rgba(141, 177, 132, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(7) {
    background: rgba(103, 11, 75, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(8) {
    background: rgba(250, 177, 81, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(9) {
    background: rgba(75, 114, 64, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(10) {
    background: rgba(225, 61, 84, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(11) {
    background: rgba(219, 228, 57, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(12) {
    background: rgba(56, 155, 202, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(13) {
    background: rgba(234, 23, 215, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(14) {
    background: rgba(85, 155, 233, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(15) {
    background: rgba(4, 61, 166, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(16) {
    background: rgba(14, 181, 146, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(17) {
    background: rgba(221, 134, 99, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(18) {
    background: rgba(240, 77, 162, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(19) {
    background: rgba(58, 125, 128, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(20) {
    background: rgba(72, 169, 252, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(21) {
    background: rgba(190, 155, 160, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(22) {
    background: rgba(114, 128, 198, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(23) {
    background: rgba(167, 239, 194, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(24) {
    background: rgba(115, 105, 248, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(25) {
    background: rgba(136, 216, 133, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(26) {
    background: rgba(20, 110, 119, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(27) {
    background: rgba(107, 159, 125, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(28) {
    background: rgba(240, 51, 57, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(29) {
    background: rgba(74, 56, 87, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(30) {
    background: rgba(11, 243, 156, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(31) {
    background: rgba(141, 2, 31, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(32) {
    background: rgba(20, 162, 209, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(33) {
    background: rgba(191, 176, 90, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(34) {
    background: rgba(203, 206, 56, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(35) {
    background: rgba(189, 213, 149, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(36) {
    background: rgba(165, 67, 34, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(37) {
    background: rgba(44, 173, 248, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(38) {
    background: rgba(174, 83, 144, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(39) {
    background: rgba(223, 255, 255, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(40) {
    background: rgba(216, 240, 218, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(41) {
    background: rgba(143, 176, 158, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(42) {
    background: rgba(123, 2, 89, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(43) {
    background: rgba(61, 46, 181, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(44) {
    background: rgba(115, 118, 231, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(45) {
    background: rgba(134, 98, 219, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(46) {
    background: rgba(237, 82, 56, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(47) {
    background: rgba(211, 161, 21, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(48) {
    background: rgba(148, 21, 6, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(49) {
    background: rgba(205, 132, 132, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(50) {
    background: rgba(63, 101, 41, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(51) {
    background: rgba(139, 214, 13, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(52) {
    background: rgba(200, 55, 35, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(53) {
    background: rgba(63, 107, 80, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(54) {
    background: rgba(83, 132, 96, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(55) {
    background: rgba(86, 191, 193, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(56) {
    background: rgba(85, 82, 25, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(57) {
    background: rgba(32, 95, 146, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(58) {
    background: rgba(235, 1, 15, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(59) {
    background: rgba(215, 199, 98, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(60) {
    background: rgba(26, 78, 255, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(61) {
    background: rgba(241, 250, 114, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(62) {
    background: rgba(183, 194, 29, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(63) {
    background: rgba(104, 85, 215, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(64) {
    background: rgba(180, 168, 32, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(65) {
    background: rgba(141, 171, 112, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(66) {
    background: rgba(230, 24, 255, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(67) {
    background: rgba(99, 192, 176, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(68) {
    background: rgba(171, 64, 121, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(69) {
    background: rgba(212, 133, 101, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(70) {
    background: rgba(165, 54, 128, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(71) {
    background: rgba(2, 220, 171, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(72) {
    background: rgba(80, 242, 79, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(73) {
    background: rgba(101, 193, 210, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(74) {
    background: rgba(253, 180, 15, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(75) {
    background: rgba(69, 108, 38, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(76) {
    background: rgba(107, 136, 101, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(77) {
    background: rgba(250, 82, 51, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(78) {
    background: rgba(64, 144, 125, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(79) {
    background: rgba(188, 9, 50, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(80) {
    background: rgba(211, 181, 176, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(81) {
    background: rgba(244, 178, 63, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(82) {
    background: rgba(90, 17, 127, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(83) {
    background: rgba(168, 253, 149, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(84) {
    background: rgba(233, 97, 47, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(85) {
    background: rgba(70, 20, 24, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(86) {
    background: rgba(87, 97, 56, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(87) {
    background: rgba(205, 214, 110, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(88) {
    background: rgba(81, 48, 184, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(89) {
    background: rgba(221, 45, 5, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(90) {
    background: rgba(125, 110, 241, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(91) {
    background: rgba(129, 200, 119, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(92) {
    background: rgba(107, 110, 14, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(93) {
    background: rgba(76, 114, 168, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(94) {
    background: rgba(151, 11, 39, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(95) {
    background: rgba(212, 193, 208, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(96) {
    background: rgba(10, 40, 240, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(97) {
    background: rgba(73, 52, 216, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(98) {
    background: rgba(255, 147, 135, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(99) {
    background: rgba(180, 42, 71, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(100) {
    background: rgba(145, 190, 17, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(1):hover {
    color: #34495e !important;
    background: rgba(5, 175, 182, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(2):hover {
    color: #34495e !important;
    background: rgba(107, 147, 122, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(3):hover {
    color: #34495e !important;
    background: rgba(249, 166, 104, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(4):hover {
    color: #34495e !important;
    background: rgba(117, 34, 198, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(5):hover {
    color: #34495e !important;
    background: rgba(68, 255, 236, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(6):hover {
    color: #34495e !important;
    background: rgba(11, 183, 41, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(7):hover {
    color: #34495e !important;
    background: rgba(38, 123, 209, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(8):hover {
    color: #34495e !important;
    background: rgba(79, 30, 105, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(9):hover {
    color: #34495e !important;
    background: rgba(58, 106, 110, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(10):hover {
    color: #34495e !important;
    background: rgba(211, 59, 191, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(11):hover {
    color: #34495e !important;
    background: rgba(217, 234, 236, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(12):hover {
    color: #34495e !important;
    background: rgba(185, 158, 221, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(13):hover {
    color: #34495e !important;
    background: rgba(12, 142, 81, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(14):hover {
    color: #34495e !important;
    background: rgba(78, 225, 133, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(15):hover {
    color: #34495e !important;
    background: rgba(12, 165, 169, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(16):hover {
    color: #34495e !important;
    background: rgba(69, 167, 82, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(17):hover {
    color: #34495e !important;
    background: rgba(215, 141, 68, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(18):hover {
    color: #34495e !important;
    background: rgba(43, 114, 186, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(19):hover {
    color: #34495e !important;
    background: rgba(229, 129, 224, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(20):hover {
    color: #34495e !important;
    background: rgba(179, 38, 222, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(21):hover {
    color: #34495e !important;
    background: rgba(126, 144, 198, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(22):hover {
    color: #34495e !important;
    background: rgba(40, 186, 8, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(23):hover {
    color: #34495e !important;
    background: rgba(206, 158, 33, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(24):hover {
    color: #34495e !important;
    background: rgba(10, 149, 44, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(25):hover {
    color: #34495e !important;
    background: rgba(236, 9, 9, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(26):hover {
    color: #34495e !important;
    background: rgba(144, 220, 240, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(27):hover {
    color: #34495e !important;
    background: rgba(249, 53, 171, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(28):hover {
    color: #34495e !important;
    background: rgba(200, 42, 133, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(29):hover {
    color: #34495e !important;
    background: rgba(64, 227, 190, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(30):hover {
    color: #34495e !important;
    background: rgba(141, 136, 64, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(31):hover {
    color: #34495e !important;
    background: rgba(121, 242, 31, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(32):hover {
    color: #34495e !important;
    background: rgba(130, 155, 21, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(33):hover {
    color: #34495e !important;
    background: rgba(5, 72, 3, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(34):hover {
    color: #34495e !important;
    background: rgba(244, 193, 180, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(35):hover {
    color: #34495e !important;
    background: rgba(255, 78, 230, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(36):hover {
    color: #34495e !important;
    background: rgba(71, 49, 208, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(37):hover {
    color: #34495e !important;
    background: rgba(59, 162, 114, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(38):hover {
    color: #34495e !important;
    background: rgba(78, 25, 150, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(39):hover {
    color: #34495e !important;
    background: rgba(97, 61, 121, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(40):hover {
    color: #34495e !important;
    background: rgba(143, 144, 99, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(41):hover {
    color: #34495e !important;
    background: rgba(18, 170, 151, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(42):hover {
    color: #34495e !important;
    background: rgba(90, 4, 233, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(43):hover {
    color: #34495e !important;
    background: rgba(48, 78, 214, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(44):hover {
    color: #34495e !important;
    background: rgba(241, 217, 47, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(45):hover {
    color: #34495e !important;
    background: rgba(48, 228, 21, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(46):hover {
    color: #34495e !important;
    background: rgba(73, 34, 81, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(47):hover {
    color: #34495e !important;
    background: rgba(36, 169, 226, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(48):hover {
    color: #34495e !important;
    background: rgba(9, 174, 206, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(49):hover {
    color: #34495e !important;
    background: rgba(193, 203, 92, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(50):hover {
    color: #34495e !important;
    background: rgba(126, 133, 174, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(51):hover {
    color: #34495e !important;
    background: rgba(220, 222, 135, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(52):hover {
    color: #34495e !important;
    background: rgba(53, 248, 108, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(53):hover {
    color: #34495e !important;
    background: rgba(155, 98, 54, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(54):hover {
    color: #34495e !important;
    background: rgba(135, 205, 15, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(55):hover {
    color: #34495e !important;
    background: rgba(188, 150, 208, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(56):hover {
    color: #34495e !important;
    background: rgba(200, 251, 137, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(57):hover {
    color: #34495e !important;
    background: rgba(62, 237, 110, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(58):hover {
    color: #34495e !important;
    background: rgba(26, 60, 135, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(59):hover {
    color: #34495e !important;
    background: rgba(139, 210, 25, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(60):hover {
    color: #34495e !important;
    background: rgba(94, 1, 163, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(61):hover {
    color: #34495e !important;
    background: rgba(140, 144, 87, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(62):hover {
    color: #34495e !important;
    background: rgba(21, 56, 92, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(63):hover {
    color: #34495e !important;
    background: rgba(1, 36, 196, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(64):hover {
    color: #34495e !important;
    background: rgba(17, 226, 227, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(65):hover {
    color: #34495e !important;
    background: rgba(146, 46, 252, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(66):hover {
    color: #34495e !important;
    background: rgba(136, 30, 47, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(67):hover {
    color: #34495e !important;
    background: rgba(115, 202, 97, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(68):hover {
    color: #34495e !important;
    background: rgba(39, 113, 96, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(69):hover {
    color: #34495e !important;
    background: rgba(113, 85, 223, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(70):hover {
    color: #34495e !important;
    background: rgba(81, 152, 40, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(71):hover {
    color: #34495e !important;
    background: rgba(56, 172, 203, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(72):hover {
    color: #34495e !important;
    background: rgba(59, 169, 184, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(73):hover {
    color: #34495e !important;
    background: rgba(234, 206, 136, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(74):hover {
    color: #34495e !important;
    background: rgba(68, 120, 7, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(75):hover {
    color: #34495e !important;
    background: rgba(244, 19, 69, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(76):hover {
    color: #34495e !important;
    background: rgba(91, 167, 122, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(77):hover {
    color: #34495e !important;
    background: rgba(31, 27, 112, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(78):hover {
    color: #34495e !important;
    background: rgba(58, 53, 152, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(79):hover {
    color: #34495e !important;
    background: rgba(137, 102, 28, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(80):hover {
    color: #34495e !important;
    background: rgba(158, 197, 253, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(81):hover {
    color: #34495e !important;
    background: rgba(20, 191, 64, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(82):hover {
    color: #34495e !important;
    background: rgba(91, 106, 104, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(83):hover {
    color: #34495e !important;
    background: rgba(94, 175, 38, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(84):hover {
    color: #34495e !important;
    background: rgba(39, 227, 245, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(85):hover {
    color: #34495e !important;
    background: rgba(164, 179, 39, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(86):hover {
    color: #34495e !important;
    background: rgba(97, 187, 190, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(87):hover {
    color: #34495e !important;
    background: rgba(118, 75, 90, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(88):hover {
    color: #34495e !important;
    background: rgba(56, 247, 21, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(89):hover {
    color: #34495e !important;
    background: rgba(170, 182, 125, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(90):hover {
    color: #34495e !important;
    background: rgba(208, 99, 79, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(91):hover {
    color: #34495e !important;
    background: rgba(189, 202, 242, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(92):hover {
    color: #34495e !important;
    background: rgba(149, 114, 78, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(93):hover {
    color: #34495e !important;
    background: rgba(103, 69, 229, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(94):hover {
    color: #34495e !important;
    background: rgba(141, 53, 184, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(95):hover {
    color: #34495e !important;
    background: rgba(152, 156, 81, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(96):hover {
    color: #34495e !important;
    background: rgba(181, 144, 77, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(97):hover {
    color: #34495e !important;
    background: rgba(221, 84, 141, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(98):hover {
    color: #34495e !important;
    background: rgba(162, 251, 27, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(99):hover {
    color: #34495e !important;
    background: rgba(98, 12, 227, 0.8) !important;
  }
  
  #page .tag-cloud-list a:nth-of-type(100):hover {
    color: #34495e !important;
    background: rgba(78, 128, 5, 0.8) !important;
  }
  